# Entorno virtual
venv/
venv_transcriber/
.env

# Ignore personal overrides
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

# logs
transcriber_app/logs/*

# Archivos generados por la app
outputs/*
transcripts/*

# Archivos de audio de entrada (si no quieres subirlos)
audios/*

# Archivos temporales del sistema
__pycache__/
*.pyc

transcriber_app/modules/emails.py
wheels/